
<section class="heading_fp">

    <div class="wrapper">

        <span class="heading_fp-bg">
            {% set img = get_image(b.background) %}
            {% set is_seamless = true %}
            {% include 'elements/image.twig' %}
            <svg class="heading_fp-bg-svg" width="864" height="1080" preserveAspectRatio="none" viewBox="0 0 864 1080" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M0 1080C635.382 1080 894.653 582.96 629.818 0H866V1080H0Z" fill="#FF9A26"/></svg>
        </span>

        <div class="heading_fp-header">
            <p>{{ pll('Bienvenue') }}</p>
            <h1>{{ g.name }}</h1>
            <p>{{ g.baseline }}</p>

            {% include 'elements/social-links.twig' %}
        </div>

        <div class="heading_fp-content">

            {% include 'elements/schedule.twig' %}

            <div class="heading_fp-content-actions">
                <a class="card card-body" href="{{ g.menu_page.url }}">
                    <span class="icon icon-big">{% include "assets/static/svg/icons/menu.svg" %}</span>
                    <p class="h2">
                        {{ pll('Menu') }}
                        <br>
                        <small>{{ pll('Dressez votre commande !') }}</small>
                    </p>
                </a>

                {% if g.phone %}
                <div class="btn-group">
                    <a href="tel:{{ g.phone }}" class="btn btn-primary">
                        <span class="icon">{% include "assets/static/svg/icons/call.svg" %}</span>
                        <span>{{ g.phone }}</span>
                    </a>
                </div>
                {% endif %}

                
                {% if g.email %}
                <div class="btn-group">
                    <a href="mailto:{{ g.email }}" class="btn btn-primary">
                        <span class="icon">{% include "assets/static/svg/icons/email.svg" %}</span>
                        <span>{{ g.email }}</span>
                    </a>
                </div>
                {% endif %}

                {% if g.itinirary %}
                <div class="btn-group">
                    <a target="_blank" href="{{ g.itinirary }}" class="btn btn-primary">
                        <span class="icon">{% include "assets/static/svg/icons/itinerary.svg" %}</span>
                        <span>{{ pll('Aller sur place') }}</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</section>
