<div class="lang">

    {% if is_drowpdown %}
    <p class="lang-current">{{ current_language }}</p>
    {% endif %}

    {% if polylang_languages|length > 0 %}
    <ul class="lang-switcher">
        {% if is_drowpdown %}
        {% for code, language in polylang_languages %}
        {% if language.name != current_language %}
        <li class="lang-switcher-item">
            <a href="{{ language.url }}">{{ language.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% else %}
        {% for code, language in polylang_languages %}
        {% if language.name != current_language %}
        <li class="lang-switcher-item">
            <a href="{{ language.url }}">{{ language.name }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% endif %}
    </ul>
    {% endif %}
</div>

{% set is_drowpdown = empty %}